.carousel-inner {
    height: 60%;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.product-img {
    height: 10vw;
    width: 10vw;
}

.frame-height {
    height: 20vw;
}

.img-full-size {
    width: 100%;
    height: 100%;
}


.div-frame {
    border-width: 0.5px;
    border-color: whitesmoke;
    border-style: solid;
}

.brand-height {
    height: 10vw;
}

.feedback-input {
    height: 3vw;
    width: 40vw;
    border-radius: 5px;
}

.feedback-area {
    height: 10vw;
    width: 40vw;
    border-radius: 5px;
}

.search-input {
    height: 3vw;
    width: 30vw;
    border-radius: 5px;
    border-style: solid;
    border-color: orange;
}

.search-btn {
    height: 3vw;
    width: 10vw;
    border-radius: 5px;
    border-color: orange;
    background-color: white;
}


.shopping-cart-count-input {
    width: 5vw;
    height: 2vw;
    border-radius: 5px;
}

.add-product-btn {
    width: 2vw;
    height: 2vw;
}


.account-info {
    font-size: 1vw;
}

.default-font {
    font-size: 1.5vw;
}

.btn-link {
    color: black;
    user-select: none; /* Убираем текстовое выделение */
    text-decoration: none; /* Убираем подчеркивание */
    outline: none; /* Убираем контур вокруг ссылки */
    background-color: white; /* Цвет фона */
    padding: 1vw 1em; /* Отступ от текста до рамки */
}

nubex:active {
    background-color: black; /* Цвет кнопки при нажатии */
}

nubex:hover {
    background-color: #f97f2e; /* Цвет кнопки при наведении курсора */
}